<footer class="footer">
    <div class="footer__content">
        <div class="footer__social-icons">
            <a href="https://www.facebook.com/vvagraphics" target="_blank" matTooltip="Facebook">
                <i class="mdi mdi-facebook mdi-24px"></i>
            </a>
            <a href="https://www.twitter.com/vvagraphics" target="_blank" matTooltip="Twitter">
                <i class="mdi mdi-twitter mdi-24px"></i>
            </a>
            <a href="https://www.instagram.com/vvagraphics" target="_blank" matTooltip="Instagram">
                <i class="mdi mdi-instagram mdi-24px"></i>
            </a>
            <a href="https://www.linkedin.com/in/vvagraphics" target="_blank" matTooltip="LinkedIn">
                <i class="mdi mdi-linkedin mdi-24px"></i>
            </a>
        </div>
        <span class="footer__copyright">&copy; {{ currentYear }} Your Company Name. All rights reserved.</span>
    </div>
</footer>