<footer class="footer">
    <div class="footer__content">
        <span>&copy; {{ currentYear }} Your Company Name. All rights reserved.</span>
        <div class="footer__social-icons">
            <a href="https://www.facebook.com/yourpage" target="_blank" matTooltip="Facebook">
                <mat-icon svgIcon="mdi:facebook"></mat-icon>
            </a>
            <a href="https://www.twitter.com/yourprofile" target="_blank" matTooltip="Twitter">
                <mat-icon svgIcon="mdi:twitter"></mat-icon>
            </a>
            <a href="https://www.instagram.com/yourprofile" target="_blank" matTooltip="Instagram">
                <mat-icon svgIcon="mdi:instagram"></mat-icon>
            </a>
            <a href="https://www.linkedin.com/in/yourprofile" target="_blank" matTooltip="LinkedIn">
                <mat-icon svgIcon="mdi:linkedin"></mat-icon>
            </a>
        </div>
    </div>
</footer>