<div class="overlay">
    <h1 class="title">ABOUT</h1>
</div>
<!-- Custom Card -->
<div class="card-content-wrapper aboutSection" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="custom-card" *ngIf="selectedCardIndex !== null">
        <mat-card-content class="card-content" style="height: 100vh">
            <div fxFlex fxLayout="column" fxLayoutAlign="start start">
                <ng-container *ngIf="selectedCardIndex !== 2">
                    <img class="responsive-image" [src]="section1Cards[selectedCardIndex].imageSrc"
                        [alt]="section1Cards[selectedCardIndex].altText" />
                    <h2 class="card-title">{{ section1Cards[selectedCardIndex].title }}</h2>
                    <p class="card-description">{{ section1Cards[selectedCardIndex].description }}</p>
                </ng-container>

                <ng-container *ngIf="selectedCardIndex === 2">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div class="card-image">
                            <img class="responsive-image" [src]="section1Cards[selectedCardIndex].imageSrc"
                                [alt]="section1Cards[selectedCardIndex].altText" />
                        </div>
                        <div class="card-content-right">
                            <h2>Contact Information</h2>
                            <p>
                                <strong>Address:</strong><br>
                                123 Main Street<br>
                                Anytown, USA 12345
                            </p>
                            <p>
                                <strong>Phone:</strong><br>
                                (123) 456-7890
                            </p>
                            <p>
                                <strong>Email:</strong><br>
                                info@example.com
                            </p>
                            <button (click)="openNewForm()" mat-raised-button color="primary"
                                [style.fontSize.px]="16">Send a Message</button>
                        </div>
                    </div>
                    <h2 *ngIf="selectedCardIndex !== 2" class="card-title">{{ section1Cards[selectedCardIndex].title }}</h2>

                    <p class="card-description">{{ section1Cards[selectedCardIndex].description }}</p>
                </ng-container>
            </div>

            
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                <button *ngIf="selectedCardIndex !== 0" mat-raised-button color="primary" [style.fontSize.px]="16"
                    (click)="selectCard(0)">About</button>
                <button *ngIf="selectedCardIndex !== 1" mat-raised-button color="primary" [style.fontSize.px]="16"
                    (click)="selectCard(1)">Biography</button>
                <button *ngIf="selectedCardIndex !== 2" mat-raised-button color="primary" [style.fontSize.px]="16"
                    (click)="selectCard(2)">Contacts</button>
            </div>
    </mat-card-content>
</mat-card>

</div>