.custom-card {
  padding: 5rem;
  background-color: transparent;
  box-shadow: none;
}

.custom-card button[mat-raised-button] {
  /* background-color: #3f51b5; */
  color: white;
  width: 10rem;
  height: 5rem;
}

.responsive-image {
  width: clamp(250px, 30%, 100%);
  max-width: 100%;
}
/* 
@media screen and (min-width: 576px) {
  .responsive-image {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .responsive-image {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .responsive-image {
    width: 20%;
  }
} */
