<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="login-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="example@example.com" type="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="login-field">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Password" type="password">
                </mat-form-field>
                <button mat-raised-button color="accent" class="submit-button" type="submit">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>