.artist-card {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.artist-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.artist-info {
  padding: 20px;
  text-align: center;
}

.artist-info h2 {
  margin-top: 0;
}

.artist-info p {
  margin: 10px 0;
}

.artist-info a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.artist-info a:hover {
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}
