
<div>
  <mat-toolbar class="custom-toolbar">
    <button mat-icon-button class="hamburger" (click)="toggleMenu()" fxShow.lt-md>
      <img src="assets/image/vinylgif.gif" *ngIf="menuOpen; else menuClosed" />
      <ng-template #menuClosed>
        <mat-icon>menu</mat-icon>
      </ng-template>
    </button>
    <div class="logo">
    <a  href="/"><img src="assets/image/sgentmusic2.png" alt="Logo" class="logo-img" /></a></div>

    <span class="menu-container" fxFlex fxLayoutAlign="end center" fxHide.lt-md>
      <ng-container *ngTemplateOutlet="menuItems"></ng-container>
    </span>
  </mat-toolbar>

  <!-- Vertical menu for small screens -->
  <div *ngIf="menuOpen" class="menu mobile-menu" fxShow.lt-md>
    <ng-container *ngTemplateOutlet="menuItems"></ng-container>
  </div>
</div>

<ng-template #menuItems>
  <button mat-raised-button color="primary" routerLink="/" >Home</button>
  <button mat-raised-button color="primary" routerLink="/about" >About</button>
  <button mat-raised-button color="primary" routerLink="/music" >Music</button>
  <button mat-raised-button color="primary" routerLink="/store" >Store</button>
  <button mat-raised-button color="primary" routerLink="/news" >News</button>
  <button mat-raised-button color="primary" routerLink="/login" >Login</button>
  <button mat-raised-button color="primary" routerLink="/cart" >Cart</button>
  <button mat-raised-button color="primary" routerLink="/profile" >Profile</button>
</ng-template>

<div class="page-container">
  <router-outlet></router-outlet>
  <app-mini-player></app-mini-player>
</div>

<app-footer></app-footer>
