html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-toolbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hamburger {
  position: fixed;
  top: 1rem;
  left: 0;
  /* outline: #242424; */
  color: #ff0000;
}

.menu-container {
  margin-right: 8px;
}

.menu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left 0.3s ease;
}

.menu.open {
  position: fixed;
  top: 1rem;
  left: 0;
}
.mobile-menu {
  position: fixed;
  top: 1rem;
  left: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 998;
  padding-top: 64px; /* Adjust this value based on the height of your toolbar */
}

/* For larger screens, display menu items horizontally */
@media (min-width: 960px) {
  .menu {
    flex-direction: row;
    justify-content: flex-end;
  }
}

button[mat-raised-button] {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fbfbfb;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[mat-raised-button]:hover {
  background-color: #ff0000;
}
.logo-img {
  padding-top: 2rem;
  padding-left: 2rem;
  max-width: 100%;
  height: auto;
}

@media (min-width: 960px) {
  button[mat-icon-button] {
    display: none;
  }
}

.black-text {
  color: black;
}

.card-title,
.card-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  border: none;
  outline: none;
  box-shadow: none;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .more-button {
  color: blue;
  background-color: white;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.2s;
} */

.more-button:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
.section1 {
  background-color: #fbfbfb;
}
.section2 {
  background-color: #e9e9e9;
}
.section3 {
  background-color: #fbfbfb;
}
/* .custom-card .mat-card-content {
  flex-grow: 1;
} */
/* .section3-tile {
  border: none;
  outline: none;
  box-shadow: none;
} */
.page-container {
  position: relative;
  min-height: 100vh;
}

app-mini-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
/* Adjust height and other styles for the mini-player */
/* height: 60px; */
/* background-color: rgba(0, 0, 0, 0.8); */
