html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-toolbar {
  padding-top: 1rem;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  color: #be1e2d;
  padding: 12px;
}

.logo {
  padding-top: 1vw;
}
.logo-img {
  max-width: 100%;
  width: clamp(33%, 25vw, 800px);
  height: auto;
}

.menu-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: clamp(50%, 40vw, 800px);
}

@media (min-width: 960px) {
  .menu-container {
    justify-content: space-between;
    width: clamp(50%, 40vw, 800px);
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 960px) {
  .logo-img {
    max-width: 100%;
    width: clamp(33%, 15rem, 45vw);
    height: auto;
  }
}
@media (max-width: 1280px) and (min-width: 960px) {
  .logo-img {
    max-width: 100%;
    width: clamp(33%, 25vw, 800px);
    height: auto;
  }
}

.menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.3s ease;
}

.menu.open {
  position: fixed;
  top: 1rem;
  right: 0;
}
.mobile-menu {
  position: fixed;
  top: 1rem;
  right: 0;
  width: auto;
  background-color: rgba(210, 216, 216, 0.8);
  z-index: 998;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

/* Rest of the code remains the same */

button[mat-raised-button] {
  background-color: rgba(20, 54, 66, 0.8);
  color: #dad2d8;
  border-radius: 5px;
  font-size: clamp(12px, 1.2vw, 16px); /* Adjust the values as needed */
  padding: 10px 20px;
  margin: 0 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[mat-raised-button]:hover {
  background-color: #be1e2d;
  /* color: #0f8b8d; */
}

.page-container {
  position: relative;
  min-height: 100vh;
}

app-mini-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* ///Hide/Show Menu/////// */
/* .active-link {
  display: none;
} */
.greeting {
  display: flex;
  padding: 0;
  align-items: center;
  font-size: 1rem;
  color: #fff;
}
