<div>
  <mat-toolbar class="custom-toolbar">
    <div class="toolbar-content">
      <div class="logo">
        <a [routerLink]="['/']" fragment="home"><img src="assets/image/sgentmusic4.png" alt="Logo"
            class="logo-img" /></a>
      </div>

      <span class="menu-container" fxFlex fxLayoutAlign="end center" fxHide.lt-md>
        <ng-container *ngTemplateOutlet="menuItems"></ng-container>
      </span>

      <button mat-icon-button class="hamburger" (click)="toggleMenu()" fxShow.lt-md>
        <mat-icon *ngIf="!menuOpen; else menuOpened">menu</mat-icon>
        <ng-template #menuOpened>
          <mat-icon>menu</mat-icon>
        </ng-template>
      </button>
    </div>
  </mat-toolbar>

  <!-- Vertical menu for small screens -->
  <div *ngIf="menuOpen" class="menu mobile-menu" fxShow.lt-md>
    <ng-container *ngTemplateOutlet="menuItems"></ng-container>
  </div>
  


  
  <ng-template #menuItems>
    <div class="greeting">
      Welcome{{ userDisplayName ? ', ' + userDisplayName : '' }}
    </div>

  
    <button *ngIf="!isHomePage" mat-raised-button color="primary" routerLink="/">Home</button>
  
    <button mat-raised-button color="primary" routerLink="/about" routerLinkActive="active-link"
      #aboutRouterLinkActive="routerLinkActive">About</button>
    <button mat-raised-button color="primary" routerLink="/music" routerLinkActive="active-link"
      #musicRouterLinkActive="routerLinkActive">Music</button>
    <button mat-raised-button color="primary" routerLink="/store" routerLinkActive="active-link"
      #storeRouterLinkActive="routerLinkActive">Store</button>
    <button mat-raised-button color="primary" routerLink="/news" routerLinkActive="active-link"
      #newsRouterLinkActive="routerLinkActive">News</button>
  
    <button *ngIf="isLoggedIn" mat-raised-button color="primary" routerLink="/cart" routerLinkActive="active-link"
      #cartRouterLinkActive="routerLinkActive">Cart</button>
    <button *ngIf="isLoggedIn" mat-raised-button color="primary" routerLink="/profile" routerLinkActive="active-link"
      #profileRouterLinkActive="routerLinkActive">Profile</button>
    <ng-container *ngIf="!isLoggedIn; else logoutButton">
      <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active-link"
        #loginRouterLinkActive="routerLinkActive">Login</button>
    </ng-container>
    <ng-template #logoutButton>
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </ng-template>
  </ng-template>
  
  <div class="page-container">
    <router-outlet></router-outlet>
    <app-mini-player></app-mini-player>
  </div>
  
  <!-- //ADD TRENDING LIST OR POPULAR LIST HERE -->
  <app-product></app-product>
  
  <!-- <app-cart></app-cart> -->

  <app-footer></app-footer>