.news-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.news-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  font-size: 12rem;
  padding: 5rem;
}
.newsfeed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  padding: 1rem;
}

.newsfeed img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.newsfeed h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.newsfeed p {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.newsfeed a {
  font-size: 16px;
  color: blue;
  text-decoration: none;
}

.newsfeed a:hover {
  color: #00bfff;
}

@media (min-width: 1280px) {
  .newsfeed {
    width: 400px;
    height: 500px;
  }
}

@media (min-width: 1600px) {
  .newsfeed {
    width: 500px;
    height: 600px;
  }
}

@media (max-width: 1900px) {
  .newsfeed {
    width: 50%;
    height: auto;
  }
}
