.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  padding-top: clamp(2rem, 3vw, 70vw);
}

.title {
  color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: clamp(2rem, 150px, 70vw);
  text-align: center;
  padding-top: clamp(2rem, 3vw, 70vw);
  font-size: clamp(2rem, 10vw, 70vw);
}

.album-art {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.music-selection {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.addToCart {
  width: 150px;
}

.addToCart-container {
  display: flex;
  justify-content: center;
}
