.hero {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Add this line */
}

.hero video {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Add this line */
}
