<div class="hero">
    
    <div class="video-container" id="home">
    <video width="100%" autoplay loop muted playsinline>
        <source src="assets/video/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <!-- <div class="overlay">
        <h1 class="title">SGENTMUSIC</h1>
    </div> -->
    </div>
    <mat-divider></mat-divider>
<!-- Section 1 -->
<div class="card-content-wrapper section1 section-gap" fxLayout="row" fxLayout.lt-xl="column" fxLayout.gt-lg="column">
    <div class="title-wrapper" style="position: relative;">
        <h1 class="homeSecTitle" id="parallaxTitle">QUICK NAVIGATION</h1>
    <mat-grid-list [cols]="isXsScreen || isSmScreen ? 2 : isDesktopScreen ? 4 : 3" rowHeight="1:1.3" gutterSize="16px"
        [style.margin.px]="16">
        
    <div class="section-container">
        
    <mat-grid-tile class="card-wrapper" *ngFor="let card of section1Cards">
            <mat-card class="custom-card" (click)="navigateToComponent(card)">
                
                    <a (click)="navigateTo(card.destination)">
                      <img [src]="card.imageSrc" [alt]="card.altText" style="width: 100%;" />
                    <h2 class="card-title">{{ card.title }}</h2>
                    <p class="card-description">{{ card.description }}</p></a>
                
            </mat-card>
        </mat-grid-tile></div>
    </mat-grid-list>
</div></div>

<mat-divider></mat-divider>

<!-- Section 2 -->
<!-- //REROUTING TO SHOP WITH FRAGMENT SCROLL TO ID BREAKS WHEN ONE LINK IS OFF/MISPELLED -->
<div class="card-content-wrapper section2 section-gap" fxLayout="row" fxLayout.lt-xl="column" fxLayout.gt-lg="column">
    <div class="title-wrapper" style="position: relative;">
        <h1 class="homeSecTitle" id="parallaxTitle">QUICK NAVIGATION</h1>
    <mat-grid-list [cols]="isXsScreen || isSmScreen ? 2 : isDesktopScreen ? 3 : 2" rowHeight="1:1.3" gutterSize="16px"
        [style.margin.px]="16">

        <div class="section-container">
        
    <mat-grid-tile class="card-wrapper" *ngFor="let card of section2Cards">
            <mat-card class="custom-card" >
                
                            <a [routerLink]="['/store']" [fragment]="card.destination">
                        <img [src]="card.imageSrc" [alt]="card.altText" style="width: 100%;" />
                    <!-- <h2 class="card-title">{{ card.title }}</h2> -->
                    <!-- <p class="card-description">{{ card.description }}</p> -->
                    <h2 class="card-dealTitle" [ngClass]="{'limited-deal-dealTitle': card.isLimitedDeal}">{{ card.dealTitle }}</h2>
                    <h2 class="card-title" [ngClass]="{'limited-deal-title': card.isLimitedDeal}">{{ card.title }}</h2>
                    <p class="card-description" [ngClass]="{'limited-deal-description': card.isLimitedDeal}">{{ card.description }}</p>
                </a>
                
            </mat-card>
        </mat-grid-tile></div>
    </mat-grid-list></div>
</div>


<mat-divider></mat-divider>



<!-- Section 3 -->
<div class="card-content-wrapper section3 section-gap" fxLayout="row" fxLayout.lt-xl="column" fxLayout.gt-lg="column">
    <div class="title-wrapper" style="position: relative;">
        <h1 class="homeSecTitle" id="parallaxTitle">QUICK NAVIGATION</h1>
    <mat-grid-list [cols]="isXsScreen || isSmScreen ? 2 : isDesktopScreen ? 3 : 2" rowHeight="1:1.3" gutterSize="16px"
        [style.margin.px]="16">

        <div class="section-container">
        
    <mat-grid-tile class="news-container" *ngFor="let news of news.slice(0,6)">
            <div class="newsfeed">
                <a href="{{ news.url }}"><img [src]="news.urlToImage" alt="News Image">
                
                    <h3>{{ news.title }}</h3>
                    <p>{{ news.description }}</p>
                    <span>Read more</span></a>
            </div>
        </mat-grid-tile></div>
    </mat-grid-list></div>
</div>