.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.responsive-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-toolbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hamburger {
  position: fixed;
  top: 1rem;
  left: 0;
  color: #ff0000;
}

.menu-container {
  margin-right: 8px;
}

.menu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left 0.3s ease;
}

.menu.open {
  position: fixed;
  top: 1rem;
  left: 0;
}
.mobile-menu {
  position: fixed;
  top: 1rem;
  left: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 998;
  padding-top: 64px;
}

/* For larger screens, display menu items horizontally */
@media (min-width: 960px) {
  .menu {
    flex-direction: row;
    justify-content: flex-end;
  }
}

button[mat-raised-button] {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fbfbfb;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[mat-raised-button]:hover {
  background-color: #ff0000;
}
.logo-img {
  padding-top: 2rem;
  padding-left: 2rem;
  max-width: 100%;
  height: auto;
}

@media (min-width: 960px) {
  button[mat-icon-button] {
    display: none;
  }
}

.black-text {
  color: black;
}

.card-title,
.card-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  border: none;
  outline: none;
  box-shadow: none;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-button:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
.section1 {
  background-color: #fbfbfb;
}
.section2 {
  background-color: #e9e9e9;
}
.section3 {
  background-color: #fbfbfb;
}

/* ////news feed */
.news-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.news-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  font-size: 12rem;
  padding: 5rem;
}
.newsfeed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 40px auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  padding: 1rem;
}

.newsfeed img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.newsfeed h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.newsfeed p {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.newsfeed a {
  font-size: 16px;
  color: blue;
  text-decoration: none;
}

.newsfeed a:hover {
  color: #00bfff;
}

@media (min-width: 1280px) {
  .newsfeed {
    width: 400px;
    height: 500px;
  }
}

@media (min-width: 1600px) {
  .newsfeed {
    width: 500px;
    height: 600px;
  }
}

@media (max-width: 1900px) {
  .newsfeed {
    width: 50%;
    height: auto;
  }
}
